* {
font-family: "inter", "sans-sarif";
  scroll-behavior: smooth;
}
/* 
.webkitstrokes {
  -webkit-text-stroke: 0.98px #fff !important;
} */

.webkitstrokes:hover {
  -webkit-text-stroke: 0.6px white !important;
}